/* CSS Variables */
:root{
    --clr-shadow: #0d6efd;
}

/* Info Cards styling */
.info-card{
    border-radius:0.5rem;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.info-card:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 25px var(--clr-shadow);
}